# Core Dependencies
langchain-community>=0.0.10
langchain>=0.0.267
langchain-chroma>=0.0.5
langchain-huggingface>=0.0.2
sentence-transformers>=2.2.2
pypdf>=3.9.0
chromadb>=0.4.22
huggingface-hub>=0.16.4
